<p>
  <strong>Commenter:</strong><br>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong><br>
  <%= comment.body %>
</p>
<p>
  <small>
    <%= "#{time_ago_in_words(comment.created_at)} ago"%>
  </small>
</p>

<p>
  <% if signed_in? %>
    <%= link_to 'Delete Comment', [comment.article, comment],
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
  <% else %>
    Sign in to edit your comments
  <% end %>
</p>
