<div class="basic-container-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Edit article</h2>
    </div><!--end panel-heading-->
    <div class="panel-body">
      <%= render 'form' %>
    </div><!--end panel-body-->
    <div class="panel-footer">
      <%= link_to 'Back', articles_path %>
    </div><!--end panel-footer-->
  </div><!--end panel-default-->
</div>
