<div class="basic-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Editing User</h1>

      <%= render 'form', user: @user %>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>
    </div><!--end panel-body-->
  </div><!--end panel-default-->
</div><!--end basic-container-->
