<div class="jumbotron">
  <div class="z-0">
    <%= image_tag('cwv-front.png', alt: 'Chef dog', id: 'chef-dog')%>
  </div>
  <div class="z-1">
    <h1>How's It Cookin'?</h1>
  </div>
</div>

<div class="basic-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h3>How's It Cookin'?</h3>
          <p>
            <i>How's It Cookin'?</i> Is a humorous online recipe archive. All the
            recipes on this blog are purely for fun and not too great either. They are
            webmasters' favourite though. Some of them might be even delicious.
          </p>
          <p>
            At the moment there isn't a search feature for the recipes but keyword system and
            a favourite system might be added later on.
          </p>
          <p>
            Browse through recipes from the navigation below and <i>enjoy</i>!
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>Hello blog, this is dog</h3>
          <p><i>How's It Cookin'?</i> is a Ruby on Rails blog application. It has been developed with the beginning help of
            Ruby on rails blog tutorial into a Cook Book app that implements authentication, authorization, advanced text editor
            and other features.
          </p>
          <p>
            Registered admin users that have signed in can create, update and delete articles and comments made by users.
            Registered users can comment articles.
          </p>
          <p>The layout has been completed with SASS using Bootstrap.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>Info point</h3>
          <p>Have some Goofy recipe ideas or improvement ideas? <br>
          Contact webmaster:<br>
          admiralmoonkey [at] gmail.com</p>
        </div>
      </div><!--end row-->
    </div><!--end panel-body-->
  </div><!--end panel-->
</div><!--end welcome-->
